{{#each tasks}}
<li class="tasks-item" data-id="{{id}}">
  <div class="task">
    <input id="{{id}}" type="checkbox" {{isComplete}}>
    <div class="task-complete"> 
      <label for="{{id}}">
        <svg><use xlink:href="#checkbox"></use></svg>
      </label>
    </div>
    <div class="task-title">
      <input type="text" value="{{title}}"/>
    </div>
    <div class="task-buttons">
      <button type="button" class="task-remove">x</button>
    </div>
  </div>
</li>
{{/each}}